<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../dist/output.css" rel="stylesheet">
</head>
<body>
    <div class="h-screen bg-gray-300 flex items-center justify-center">
        <div class="max-w-sm mx-auto p-10 bg-white rounded-md shadow-md flex flex-col items-center justify-center">
            <img class="w-20 h-20 rounded-full ring-4 ring-sky-600" src="../../public/img/Profile.jpg" alt="Mehedi  Jaman's Photo">
            <div class="flex flex-col items-center justify-center pt-5 pb-5">
                <p class="text-lg font-semibold">Mehedi Jaman</p>
                <p class="text-sm text-gray-500">Full Stack Developer</p>
            </div>
            <button class="bg-sky-500 py-1 px-4 rounded-3xl text-white font-bold hover:bg-sky-600 hover:text-gray-100">See Portfolio</button>
        </div>
    </div>
</body>
</html>