<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href="../dist/output.css" rel="stylesheet"> -->
  <link href="../../dist/output.css" rel="stylesheet">
</head>
<body>
    <div class="h-screen w-screen bg-sky-100 flex flex-col justify-center items-center">
        <h1 class="text-2xl font-bold"><span class="text-blue-700">Our</span> Process</h1>
        <div class="flex gap-10">
            <div class="w-20 h-20 bg-white border-2 border-blue-500 rounded-xl">
                <img  class="" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
            </div>
            <div class="border-2 border-blue-500 rounded-md bg-white p-5" >
                <h1 class="text-xl font-bold">1. Create your profile</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ad officiis odit!</p>
            </div>
        </div>
    </div>
</body>
</html>