<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href="../dist/output.css" rel="stylesheet"> -->
  <link href="../../dist/output.css" rel="stylesheet">
</head>
<body class="font-jost">
    <div class="bg-gray-100 h-full w-screen flex justify-center">
        <div class="w-[960px] h-[1160px] bg-white m-10 p-10 rounded-md">
            <div class="mb-10">
                <h1 class="text-3xl font-bold">Mehedi Jaman</h1>
                <p class="">Full Stack Developer</p>
                <p class="">Khulna Bangladesh</p>
            </div>
            <div class="border-4 border-gray-400 my-3"></div>
            <div class="flex gap-5">
                <!-- Left  -->
                <div class="w-1/2 flex flex-col gap-2">
                    <div>
                        <p><span class="font-bold">Portfolio :</span> <a href="http://me.mehedipata.com">me.mehedipata.com ↗</a></p>
                        <p><span class="font-bold">Github :</span> <a href="https://github.com/mehedijaman">mehedijaman ↗</a></p>
                        <p><span class="font-bold">Email :</span> <a mailto:mail4majaman@gmail.com>mail4mjaman@gmail.com ↗</a></p>
                        <p><span class="font-bold">Phone :</span> <a mailto:mail4majaman@gmail.com>+880 1914090747 ↗</a></p>
                    </div>
                    <div class="border-4 border-gray-400"></div>
                    <!-- Career Summary -->
                    <div>
                        <h1 class="font-bold uppercase">Summary</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quasi obcaecati repellat ea labore possimus corporis nesciunt natus ullam nobis suscipit, quaerat, sequi necessitatibus. Accusantium quisquam nam illo cupiditate eligendi!
                        </p>
                    </div>
                    <div class="border-4 border-gray-400"></div>

                    <!-- Education -->
                    <div class="flex flex-col gap-2">
                        <h1 class="font-bold uppercase">Education</h1>
                        <div>
                            <p class="text-sm font-bold">California State University East Bay</p>
                            <p>2009 – 2014 | Bachelor of Arts</p>
                            <p><span class="font-bold">Major:</span> Political Science</p>
                            <p>GPA: 3.9</p>
                        </div>
                        <div class="border-2 border-gray-400"></div>
                        <div>
                            <p class="text-sm font-bold">Las Positas Community College</p>
                            <p>1018 – Present | Associate of Science/Continuing Education</p>
                            <p><span class="font-bold">Major:</span> Computer Science</p>
                            <p>GPA: 4.0</p>
                        </div>
                        <div class="border-2 border-gray-400"></div>
                        <div>
                            <p class="text-sm font-bold">Las Positas Community College</p>
                            <p>2018 – Present | Associate of Science/Continuing Education</p>
                            <p><span class="font-bold">Major:</span> Computer Science</p>
                            <p>GPA: 4.0</p>
                        </div>
                    </div>

                    <div class="border-4 border-gray-400"></div>

                    <!-- Skills -->
                    <div>
                        <h1 class="font-bold uppercase">Skills</h1>
                        <div class="flex flex-wrap gap-2 font-bold">             
                            <div class="bg-gray-900 text-white rounded-sm px-2 py-1 w-fit print:bg-white print:text-black print:border-2 ">PHP</div>
                            <div class="bg-gray-900 text-white rounded-sm px-2 py-1 w-fit">MySQL</div>
                            <div class="bg-gray-900 text-white rounded-sm px-2 py-1 w-fit">Laravel</div>
                            <div class="bg-gray-900 text-white rounded-sm px-2 py-1 w-fit">Vue.js 3</div>
                            <div class="bg-gray-900 text-white rounded-sm px-2 py-1 w-fit">Github</div>
                            <div class="bg-gray-900 text-white rounded-sm px-2 py-1 w-fit">Docker</div>
                            <div class="bg-gray-900 text-white rounded-sm px-2 py-1 w-fit">HTML</div>
                            <div class="bg-gray-900 text-white rounded-sm px-2 py-1 w-fit">CSS</div>
                            <div class="bg-gray-900 text-white rounded-sm px-2 py-1 w-fit">Linux</div>
                            <div class="bg-gray-900 text-white rounded-sm px-2 py-1 w-fit">ChatGPT</div>
                            <div class="bg-gray-900 text-white rounded-sm px-2 py-1 w-fit">Google Bard</div>
                            <div class="bg-gray-900 text-white rounded-sm px-2 py-1 w-fit">Stack Overflow</div>
                            <div class="bg-gray-900 text-white rounded-sm px-2 py-1 w-fit">NoSQL</div>
                            <div class="bg-gray-900 text-white rounded-sm px-2 py-1 w-fit">AWS</div>
                            <div class="bg-gray-900 text-white rounded-sm px-2 py-1 w-fit">Redis</div>
                            <div class="bg-gray-900 text-white rounded-sm px-2 py-1 w-fit">Laravel Forge</div>
                        </div>
                    </div>
                </div>

                <!-- Right -->
                <div class="w-1/2 flex flex-col gap-4">
                    <div class="flex flex-col gap-2">
                        <h1 class="font-bold uppercase">Experience</h1>
                        <div>
                            <h2 class="font-bold">Full Stack Web Developer</h2>
                            <p class="text-sm">Jun 2018 – Present | Freelance</p>
                            <ul class="list-disc ml-10">
                                <li>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione itaque nemo atque facilis! Necessitatibus placeat assumenda laudantium, 
                                </li>
                                <li>
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, blanditiis cumque dignissimos minima similique vel numquam nulla sequi porro ducimus iusto 
                                </li>
                            </ul>
                        </div>
                        <div class="border-2 border-gray-400"></div>
                        
                        <div>
                            <h2 class="font-bold">Full Stack Web Developer</h2>
                            <p class="text-sm">Jun 2018 – Present | Freelance</p>
                            <ul class="list-disc ml-10">
                                <li>
                                   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis saepe tenetur aliquam labore cumque, vitae explicabo accusamus quos accusantium? Explicabo 
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae omnis illum, explicabo reprehenderit animi adipisci iste quisquam, ducimus eligendi rem 
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="border-4 border-gray-400"></div>
                    <div>
                        <h1 class="font-bold uppercase">Certificates & Awards</h1>
                        <div>
                            <ul class="list-disc ml-10">
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, laboriosam!</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, magni?</li>
                                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, hic.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, quibusdam?</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, eius.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, iste!</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>